@import './variables';

small {
  font: {
    size: $font-size-sm;
  }
}

.header {
  height: 40px;
  font-size: 1.8em;
  box-shadow: $shadow-bottom;
}

.click {
   cursor: pointer;
}

.logo {
  background-size: cover;
  padding-top: 40px;
  width: 63px;
  background-image: url('../../img/logo/logo-mobile.png');
}

@media screen and (min-width: 768px) {
  .logo {
    width: 190px;
    background-image: url('../../img/logo/logo-desktop.png');
  }
}